@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: black;
  --light: white;
  --gray: #cfcfcf;
  --green: #1fd38e;

  --reg: 400;
  --med: 500;
  --semi: 600;

  --head: 1.5em;
  --para: 1em;
  --sm-para: 0.875em;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--light);
  line-height: 25px;
}

* {
  margin: 0;
  padding: 0;
}
